@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url(reset.css);

:root {
  --main-font-size: 24px;
}

body {
  font-family: "Black Han Sans", sans-serif;
  text-shadow: 1px 1px 1px #000;
}

h1 {
  font-size: calc(var(--main-font-size) * 2);
  font-family: "Black Han Sans", sans-serif;
}

.hide-element {
  display: none;
}

/* ----------------- welcome-page ----------------- */

.welcome-page-font {
  color: black;
}

.welcome-page-font form {
  margin: 20vh auto 20vh 25vw;
}

.welcome-page-font > form > h1 {
  margin-bottom: 10px;
}

/* ----------------- main-page ----------------- */
.main-page-font {
  color: whitesmoke;
}

.background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 170vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px 20px 15px;
  background-color: brown;
}

header > #weather {
  margin-top: 15px;
  font-size: var(--main-font-size);
}

header > #clock {
  text-align: right;
  font-size: var(--main-font-size);
}

#log-out {
  text-align: right;
}

#todo-form {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

#todo-btn {
  padding: 0;
}

#todo-list {
  text-align: center;
  margin: 20px 30vw 0px 30vw;
  padding-top: 10px;
  height: 100vh;
  background-color: rgba(163, 67, 67, 0.6);
  border-radius: 10% / 50%;
}

#todo-list > li > button {
  margin-left: 10px;
  padding: 0;
  border: none;
}

#todo-list > li {
  font-size: var(--main-font-size);
  margin-bottom: 20px;
}

#today-quote {
  margin-top: 20vh;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: var(--main-font-size);
  background-color: brown;
}
